img {
    width: 100%;
}
.wrapper {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 200px 200px;
    gap: 20px;
}

.wrapper > div {
    background-color: rebeccapurple;
    border-radius: 6px;
}